<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bcb"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="23"
          android:versionName="1.4.3">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application
        android:name=".common.app.App"
        android:allowBackup="true"
        android:icon="@drawable/bcb_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".presentation.view.activity.Activity_Start_Up"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Base"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Browser"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Login"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Register_Next"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Register_First"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Forget_Pwd"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Account_Setting"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_ChangePwd_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Modify_Pwd"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Setting_Pay_Pwd"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_ChangeMoney_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Withdraw"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Station_Change"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <!-- 交易明细 -->
        <activity
            android:name=".presentation.view.activity.Activity_Money_Flowing_Water"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <!-- 用户流水 -->
        <activity
            android:name=".presentation.view.activity.Activity_Transaction_Detail"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Trading_Record"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Project_Investment_Details"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Select_Bank"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_WebView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Province"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_City"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_BuyProject_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="564c1cd6e0f55ab6e6001ce4">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DEFAULT"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService">
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <receiver
            android:name=".common.receiver.PackageInstallReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- 充值 -->
        <activity
            android:name=".presentation.view.activity.Activity_Recharge_First"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Recharge_Second"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Recharge_Confirm"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Recharge_WebView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <!-- 优惠券 -->
        <activity
            android:name=".presentation.view.activity.Activity_Select_Coupon"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_Coupons"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 认证 -->
        <activity
            android:name=".presentation.view.activity.Activity_Authentication"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 借款 -->
        <activity
            android:name=".presentation.view.activity.Activity_Loan"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".presentation.view.activity.Activity_LoanList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Borrow"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Join_Company"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Person"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Job"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Asset"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Loan_Introduction"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanList_Detail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_NormalProject_Introduction"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Project_Buy"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_ExpiredProject_Introduction"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Select_Material"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Base_Fragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Gesture_Lock"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Login_Introduction"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Money_Item_Detail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!--每日福利-->
        <activity
            android:name=".presentation.view.activity.Activity_Daily_Welfare"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Daily_Welfare_Result"
            android:label="@string/app_name"
            android:theme="@style/Dialog_Fullscreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Daily_Welfare_Tip"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
