<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bcb"
          android:versionCode="67"
          android:versionName="2.5.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <!-- 极光推送 Required 自定义用来收发消息的相关权限 -->
    <PERMISSION
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- 极光推送 Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application
        android:name=".MyApplication"
        android:icon="@drawable/bcb_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="02324a12c22384b37cd3f2e1c37460ea"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".module.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.MainActivity1"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".base.Activity_Base"
            android:label="@string/app_name"/>
        <activity
            android:name=".module.myinfo.myfinancial.myfinancialstate.myfinanciallist.myfinancialdetail.projectdetail.ProjectDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".module.login.register.RegisterNextActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.login.register.RegisterFirstActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.financialproduct.InvestmentFinanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.financialproduct.wrapprogram.WrapProgramIntroductionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.financialproduct.wrapprogram.buy.WrapProjectBuyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.login.forgetpassword.ForgetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.myfinancial.MyFinancialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.setting.AccountSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".presentation.view.activity.Activity_ChangePwd_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Modify_Pwd"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".presentation.view.activity.Activity_Setting_Pay_Pwd"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_ChangeMoney_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.balance.withdraw.WithdrawActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".presentation.view.activity.Activity_Station_Change"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 交易明细 -->
        <activity
            android:name=".module.myinfo.balance.trading.TradingRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 用户流水 -->
        <activity
            android:name=".presentation.view.activity.Activity_Transaction_Detail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Trading_Record"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.myfinancial.myfinancialstate.myfinanciallist.myfinancialdetail.FinancialDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Select_Bank"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Province"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_City"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_BuyProject_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="564c1cd6e0f55ab6e6001ce4"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DEFAULT"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 充值 -->
        <activity
            android:name=".presentation.view.activity.Activity_Recharge_Second"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Recharge_Confirm"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Recharge_WebView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <!-- 优惠券 -->
        <activity
            android:name=".presentation.view.activity.Activity_Select_Coupon"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity._Coupons"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <!-- 认证 -->
        <activity
            android:name=".presentation.view.activity.Activity_Authentication"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <!-- 借款 -->
        <activity
            android:name=".presentation.view.activity.Activity_Loan"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.eliteloan.loanlist.LoanListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.eliteloan.loanborrow.LoanRequestBorrowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.joincompany.JoinCompanyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Person"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Job"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Loan_Introduction"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_LoanRequest_Success"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity._LoanList_Detail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.financialproduct.normalproject.NormalProjectIntroductionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.financialproduct.normalproject.buy.NorProjectBuyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Select_Material"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.discover.eliteloan.EliteLoanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".base.BaseActivity1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.setting.gesturelock.GestureLockActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Login_Introduction"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.balance.trading.TradingRecordDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.A_CompanyName"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.A_Email_Check"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.balance.FundCustodianIdCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.activity.Activity_Open_Account3"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 每日福利 -->
        <activity
            android:name=".module.myinfo.welfare.DailyWelfareActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.welfare.DailyWelfareResultActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog_Fullscreen"/>
        <activity
            android:name=".presentation.view.activity.Activity_Daily_Welfare_Tip"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.myinfo.welfare.DailyWelfareStaticActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 图片浏览 -->
        <activity
            android:name=".presentation.view.activity.Activity_Image_Display"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 聚爱 -->
        <activity
            android:name=".module.discover.welfare.Activity_Love"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 特权本金 -->
        <activity
            android:name=".presentation.view.activity.Activity_Privilege_Money"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <!-- ***********以下是极光推送相关配置************ -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!-- Required 显示通知栏 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="983f6d809971c6e36d403c49"/>
        <!-- </>值来自开发者平台取得的AppKey ： 983f6d809971c6e36d403c49 -->

        <activity android:name=".module.myinfo.balance.FundCustodianAboutActivity"/>
        <activity android:name=".presentation.view.activity.Activity_TuoGuan_HF"/>
        <!-- 充值 -->
        <activity
            android:name=".module.myinfo.balance.recharge.RechargeActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".presentation.view.activity.Activity_Tips_FaileOrSuccess"
            android:launchMode="singleTask"/>
        <activity android:name=".module.browse.FundCustodianWebActivity"/>
        <activity android:name=".presentation.view.activity.A_Slb"/>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     MyApplication Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".presentation.view.activity.A_AboutSlb"/>
        <activity android:name=".presentation.view.activity.A_Slb_List"/>
        <activity android:name=".module.myinfo.myfinancial.myfinancialstate.myfinanciallist.myfinancialdetail.backpayment.BackPaymentActivity"/>
        <activity android:name=".presentation.view.activity.Activity_Charge_Tips"/>
        <activity android:name=".presentation.view.activity.Activity_Trading_Cancle"/>
        <activity android:name=".presentation.view.activity._Trading_change"/>
        <activity android:name=".presentation.view.activity.Activity_Rading_Record"/>
        <activity android:name=".presentation.view.activity.Activity_ZRXQ"/>
        <activity android:name=".presentation.view.activity.A_MySecurity"/>
        <activity android:name=".module.discover.carinsurance.CarInsuranceActivity"/>
        <activity android:name=".module.myinfo.balance.BalanceActivity"/>
        <activity android:name=".module.myinfo.totalassets.TotalAssetsActivity"/>
        <activity android:name=".module.discover.financialproduct.normalproject.buy.ProjectBuySuccessActivity">
        </activity>
        <activity android:name=".module.discover.financialproduct.normalproject.buy.ProjectBuyFailActivity">
        </activity>
        <activity android:name=".module.myinfo.balance.withdraw.WithdrawSuccessActivity">
        </activity>
    </application>

</manifest>